.ivu-layout-header,
.ivu-layout-content,
.ivu-layout-footer {
  width: 1190px;
  margin: 0 auto;
  padding: 0;
  overflow: unset;
}

.ivu-layout-header {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  color: #999;
  width: 100%;
  font-size: 12px;
  height: auto;
  line-height: normal;
}
