@import "./topbar.scss";
@import "./search.scss";

.m-header {
  background-color: #f4f4f4;

  >.ivu-row:nth-child(1) {
    width: 1190px;
    margin: 0 auto;
    z-index: 9999;
    height: 30px;
    line-height: 30px;
  }

  >.ivu-row:nth-child(2) {
    // background: #fff;
  }
}
