.nav-wrap {
  float: right;
  margin: 0;
  padding: 0;
  z-index: 999;

  .nav {
    list-style: none;
    float: right;
    height: 30px;

    >li {
      float: left;
      width: 78px;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      position: relative;

      a {
        color: #999;

        &:hover {
          color: #e1251b;
        }
      }

      &.list:hover {
        border: 1px solid #e5e5e5;

        >dl {
          display: block;
        }

        .subContainer {
          display: flex;
        }
      }

      dl {
        background: #fff;
        display: none;
        z-index: 999;

        dd {
          line-height: 35px;

          &:hover {
            color: #e1251b;
          }
        }
      }

      &.bd {
        dl {
          width: 140%;
          position: relative;
          border-top: 1px solid #e5e5e5;
          left: -31px;
          top: -1px;
          border-bottom: 1px solid #e5e5e5;
          border-left: 1px solid #E5E5E5;
          position: relative;

          &:before {
            content: " ";
            display: block;
            background: #fff;
            height: 4px;
            width: 76px;
            position: absolute;
            top: -1px;
            right: 0;
          }
        }

        &:hover {
          border-bottom: none;
        }
      }

      &.site {
        &:hover {
          border-bottom: none;
        }
      }

      &::before {
        content: "";
        display: block;
        clear: both;
        width: 1px;
        height: 10px;
        background-color: #ccc;
        position: absolute;
        left: 0;
        top: 10px;
      }

      &:first-child {
        &::before {
          width: 0;
        }
      }

      .subContainer {
        box-sizing: border-box;
        background: #fff;
        padding: 20px;
        width: 1190px;
        position: relative;
        left: -1034px;
        z-index: 999;
        border: 1px solid #e5e5e5;
        display: none;
        text-align: left;

        &:before {
          content: ' ';
          display: block;
          width: 76px;
          height: 4px;
          background: #fff;
          position: absolute;
          top: -1px;
          right: 76px;
        }

        >dl {
          box-sizing: border-box;
          text-align: left;
          display: inline-block !important;
          margin-right: 47px;

          dt {
            margin-bottom: 26px;
            font-size: 14px;
            color: #e1251b;
            text-align: center;
          }

          dd {
            width: 78px;
            display: inline-block;
            text-align: center;
          }

          &.hotel {
            width: 234px;
          }

          &.food {
            width: 156px;
          }

          &.movie {
            width: 90px;

            dd {
              width: 100%;
            }
          }

          &.app {
            width: 380px;
            flex: 1;
            text-align: center;

            dd {
              width: 60px;
              height: 73px;
              line-height: 73px;
              text-align: center;
              margin: 0 8px;

              img {
                width: 60px;
                height: 60px;
              }
            }
          }
        }
      }
    }
  }
}
