.layout-blank {
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
}

a,
a:hover,
a:focus,
a:visited {
  color: #e1251b;
}

.logo {
  width: 243px;
  height: 218px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s
}

.page-enter,
.page-leave-active {
  opacity: 0
}

/* .ivu-layout{
    background: #f4f4f4;
} */
.ivu-input-search {
  background-color: #e1251b !important;
}
