.page-index {
  margin-top: 10px;
  position: relative;

  .wrap-ace {
    display: block;
    position: absolute;
    height: 710px;
    left: -30%;
    top: 0px;
    margin: 0;
  }

  .m-menu {
    padding: 10px 0;
    width: 190px;
    height: 470px;
    box-sizing: border-box;
    color: #636363;
    position: relative;
    background: #fefefe;

    li {
      position: relative;
      box-sizing: border-box;
      padding: 2px 12px;
      height: 26px;
      cursor: pointer;
      list-style: none;

      a {
        font-size: 14px;
        color: #333;
        transition: color .2s ease;

        &:hover {
          color: red;

          &>i {
            opacity: 1;
          }
        }
      }

      &:hover,
      &.active {
        background-color: #ccc;
      }
    }

    .nav {
      .arrow {
        width: 4px;
        height: 4px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(-45deg);
        display: block;
        position: absolute;
        right: 13px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .detail {
      padding: 0 20px;
      position: absolute;
      left: 190px;
      bottom: 0;
      width: 998px;
      min-height: 470px;
      background: #fff;
      z-index: 9999;
      box-shadow: 2px 0 5px rgba(0, 0, 0, .3);
      border: 1px solid #f7f7f7;

      h4 {
        margin-top: 24px;
        height: 22px;
        line-height: 22px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
      }

      span {
        color: #999;
        font-size: 12px;
        line-height: 15px;
        display: inline-block;
        margin-right: 16px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
          color: #e1251b;
        }
      }
    }
  }

  .slide,
  .slide-right {
    width: 590px;
    height: 470px;
    img {
      width: 100%;
      height: 470px;
    }
  }
  .slide-right {
    width: 190px;
  }
}
